vault-agent/

payments-app/test/.gradle
payments-app/test/build

payments-app/java/.gradle
payments-app/java/build
payments-app/java/bin
payments-app/java/src/*.iml

kubernetes/pidfile

docker-compose/certs